* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.log-in,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.aboutus {
  background-color: #242424;
  height: 112vh;
  color: #fff;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.aboutus-container-pauls {
  display: flex;
  justify-content: center;
  padding: 1em 2em;
  animation-name: pauls;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.aboutus-container-tracys {
  display: flex;
  justify-content: center;
  padding: 1em 2em;
  animation-name: tracys;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.aboutus-container-justins {
  display: flex;
  justify-content: center;
  padding: 1em 2em;
  animation-name: justins;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.aboutus-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.9);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  padding: 20px;
  margin-right: 2em;
}

.aboutus-profile-pic-paul {
  background: url('images/paulchoi.jpeg') center center/cover no-repeat;
  height: 207px;
  width: 170px;
  border-radius: 5px;
}

.aboutus-profile-pic-tracy {
  background: url('images/tracy.jpg') center center/cover no-repeat;
  height: 207px;
  width: 170px;
  border-radius: 5px;
}

.aboutus-profile-pic-justin {
  background: url('images/justin.JPG') center center/cover no-repeat;
  height: 207px;
  width: 170px;
  border-radius: 5px;
}



.aboutus-section::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  /* z-index: -1; */
  top: 0;
  left: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.aboutus-section:hover {
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

.aboutus-section:hover::after {
    opacity: 1;
}

.aboutus-header {
  font-size: 40px;
  color: #7FA7F4;
}

.aboutus-header2 {
  font-size: 30px;
  color: #7FA7F4;
}

.aboutus-text {
  width: 200px;
}

.aboutus-icon-names {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.exploremore {
  background: url('images/img-3.jpg') center center/cover no-repeat;
  color: #fff;
  font-size: 12px;
  display: block;
  height: 90vh;
  justify-content: center;
}

.explore-input {
  padding: 8px 20px;
  border-radius: 2px;
  margin-right: 10px;
  outline: none;
  border: none;
  font-size: 18px;
  border: 1px solid #fff;
  vertical-align: middle;
}

.log-in {
  background: url('images/img-4.jpg') center center/cover no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background: url('images/img-5.jpg') center center/cover no-repeat;
  color: #fff;
  font-size: 100px;
}

@keyframes pauls {
  from {
    background: url('images/paulsleesin.jpg') center center/cover no-repeat;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
  }
  to {
    background: url('images/paulsvalorant.jpg') center center/cover no-repeat;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
  }
}

@keyframes tracys {
  from {
    background: url('images/tracyassassin.png') center center/cover no-repeat;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
  }
  to {
    background: url('images/tracyleague.png') center center/cover no-repeat;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
  }
}

@keyframes justins {
  from {
    background: url('images/img-2.jpg') center center/cover no-repeat;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
  }
  to {
    background: url('images/img-1.jpg') center center/cover no-repeat;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
  }
}


@media screen and (max-width: 960px) {

  .aboutus-container-pauls {
    flex-direction: column;
  }

  .aboutus-container-tracys {
    flex-direction: column;
  }

  .aboutus-container-justins {
    flex-direction: column;
  }

  .aboutus {
    height: 283vh;
  }
}