.landing-page-blobs {
  height: 140vh;
  width: 100%;
  background: url('../../images/Group.svg') center/cover no-repeat,
  url('../../images/Blob3.svg') center/cover no-repeat;
  background-color: #1F1F47;
  transition: all 1s ease;
  /* transform: matrix(-0.47, -0.84, 0.96, -0.41, 0, 0); */
}

.home-page-theme {
  height: 100%;
  width: 100%;
  background: url('../../images/Rectangle155.svg') center/cover no-repeat;
}

.rect-143 {
  background: url('../../images/Rectangle143.svg') no-repeat;
  position: absolute;
  width: 11px;
  height: 213.3vh;
  left: 5%;
  top: 0;
}

.rect-144 {
  background: url('../../images/Rectangle143.svg') no-repeat;
  position: absolute;
  width: 11px;
  height: 213.3vh;
  left: 8%;
  top: 0;
}

.rect-147 {
  background: url('../../images/Rectangle147.svg') no-repeat;
  position: absolute;
  width: 100%;
  height: 11px;
  top: 13%;
}

.rect-148 {
  background: url('../../images/Rectangle147.svg') no-repeat;
  position: absolute;
  width: 100%;
  height: 11px;
  top: 17%;
}

.default-page-theme {
  background: linear-gradient(179.08deg, #9898CA -2.75%, #1F1F47 103.82%);
  height: 100%;
  width: 100%;
}


@media screen and (max-width: 1300px) {
  .landing-page-blobs {
    height: 190vh;
    transition: all 1s ease;
  }
}

@media screen and (max-width: 400px) {
  .landing-page-blobs {
    height: 220vh;
    transition: all 1s ease;
  }
}