.landing-page-blobs {
  height: 140vh;
  width: 100%;
  background: url('../../images/Group.svg') center/cover no-repeat,
  url('../../images/Blob3.svg') center/cover no-repeat;
  background-color: #1F1F47;
  transition: all 1s ease;
  /* transform: matrix(-0.47, -0.84, 0.96, -0.41, 0, 0); */
}

.home-page-theme {
  height: 140vh;
  width: 100%;
  background: url('../../images/HomePageBG1.svg') center/cover no-repeat,
  url('../../images/HomePageBG2.svg') center/cover no-repeat;
}

.polygon1 {
  position: absolute;
  z-index: 10;
  width: 461px;
  height: 961px;
  top: 70%;
  background: url('../../images/Polygon1.svg') no-repeat;
}

.polygon2 {
  position: absolute;
  z-index: 10;
  width: 461px;
  height: 961px;
  left: 26%;
  top: 91%;
  background: url('../../images/Polygon2.svg') no-repeat;
}

.polygon3 {
  position: absolute;
  z-index: 9;
  width: 637px;
  height: 1300px;
  left: 3%;
  top: 53%;
  background: url('../../images/Polygon3.svg') no-repeat;
}

.polygon4 {
  position: absolute;
  width: 350px;
  height: 534px;
  left: 61%;
  top: 99%;
  background: url('../../images/Polygon4.svg') no-repeat;
}

@media screen and (max-width: 1300px) {
  .landing-page-blobs {
    height: 190vh;
    transition: all 1s ease;
  }
}

@media screen and (max-width: 400px) {
  .landing-page-blobs {
    height: 220vh;
    transition: all 1s ease;
  }
}