.landing-page-blobs {
  height: 150vh;
  width: 100%;
  background: url('../../images/Group.svg') center/cover no-repeat,
  url('../../images/Blob3.svg') center/cover no-repeat;
  background-color: #1F1F47;
  /* transform: matrix(-0.47, -0.84, 0.96, -0.41, 0, 0); */
}