.exploremore {
  color: #fff;
  font-size: 12px;
  display: block;
  height: 160vh;
  justify-content: center;
}

.explore-input {
  padding: 7px 20px;
  border-radius: 3px;
  margin-right: 10px;
  outline: none;
  border: none;
  font-size: 18px;
  border: 1px solid #fff;
  vertical-align: middle;
}