
.main-picture {
  width: 100%;
  height: 313.48px;
  background: url('../images/bluapp.jpg') center/cover no-repeat;
  mix-blend-mode: normal;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 40px;
  margin-top: -30px;
  margin-left: -30px;
  transition: all 1s ease;
  box-shadow: 0px 10vw 9vw -6vw rgba(0, 0, 0, 0.5);
  border: 5px solid black;
}

.main-picture:hover {
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition: all 1s ease;
}

.main-picture-mirror {
  margin-left: 50px;
  width: 100%;
  max-width: 613.15px;
  height: 313.48px;
  background: linear-gradient(355.72deg, #103783 -17.15%, #9BAFD9 104.24%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  border-radius: 40px;
  transform: matrix(1, 0.16, -0.16, 1, 0, 0) rotateY(-20deg) rotateX(20deg);
  mix-blend-mode: normal;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: all 1s ease;
}

/* .blob2 {
  height: 150vh;
  width: 100%;
  background: url('../images/Blob2.svg') center/cover no-repeat;
} */