.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #7FA7F4;
  font-weight: 700;
}

/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none;
}

/* Submit Button Styles*/

.bg {
  left: -5%;
  position: absolute;
  background: linear-gradient(90deg, #567870 0%, #8db2e9 0.01%, rgba(50, 196, 192, 0.2) 108.5%);
  width: 0;
  height: 100%;
  z-index: 3;
  -webkit-transition: 0.3s ease-out all;
  transition: 0.3s ease-out all;
  -webkit-transform: skewX(-10deg);
          transform: skewX(-10deg);
}

div a:hover span.bg {
  width: 110%;
}

div a:hover span.text:after {
  background: #ece8e1;
}
